
/* navbar*/

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
  }

  .nav-menu li a{
    color: cadetblue;
    text-decoration: none;
    font-size: 25px;
    justify-content: space-between;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .container {
    width: 80%;
    height: 100%;
  }

  .wrapper{
    display: none;
  }
  
  .wrapper .icon{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  .wrapper .icon span{
    position: relative;
    height: 45px;
    width: 45px;
    display: block;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  }

  .wrapper .icon span i{
    font-size: 20px;
    line-height: 50px;
    margin: 2px;
    color: cadetblue;
  }

  .wrapper .icon .toolship{
    position: absolute;
    top: 0px;
    background: #fff;
    color: cadetblue;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;

  }

  .wrapper .icon:hover .toolship{
    opacity: 1;
    pointer-events: auto;
    top: -70px;
  }

  .wrapper .icon .toolship::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 35%;
    transform: translateX(50%) rotate(45deg);
  }
  
  .flex {
    display: flex;
  }
  
  .logo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-items {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .nav-items ul {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  .hamburger{
    display: none;
  }

  .icons{
    display: flex;
  }

  .icons i{
    font-size: 30px;
    color: cadetblue;
    display: none;

  }
  
  .bar{
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: black;
  }

/*header*/

.header{
    height: 750px;
    width: 100%;
    background-color: aliceblue;
    justify-content: center;
    display: flex;
}
.container3{
    height: 100%;
    width: 85%;
    background-color: aliceblue;
    display: flex;
}

.head1{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    justify-content: center;
    display: flex;
}
.photo{
    height: 350px;
    width: 350px;
    background-color:aliceblue ;
    margin-top: 55px;
    border-radius: 50%;
}
.photo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.head2{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    
}

.text{
    height: 250px;
    width: 550px;
    background-color:aliceblue ;
    margin-top: 180px;
}

.text h1{
    color: cadetblue;
    font-size: 40px;
    font-style: italic;
}

/*service*/

.services{
    height: 750px;
    width: 100%;
    background-color: aliceblue;
    justify-content: center;
    display: flex;
}

.container1{
    height: 100%;
    width: 85%;
    background-color: aliceblue;
}

.serv{
    height: 55px;
    width: 100%;
    background-color: aliceblue;
    justify-content: center;
    display: flex;
}

.serv h1{
    font-size: 35px;
    margin-top: 10px;
    text-decoration: underline;
    color: cadetblue;
}
.service-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.service {
    margin: 5px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: cadetblue;
}

.service i{
    font-size: 40px;
}
.service:hover{
    border: 2px solid silver;
    cursor: pointer;
}

/*portfolios*/

.portfolios{
    height: 750px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
.container2{
    height: 100%;
    width: 85%;
    background-color: aliceblue;
    
}
.port{
    height: 55px;
    width: 100%;
    background-color: aliceblue;
    justify-content: center;
    display: flex;
}

.port h1{
    font-size: 35px;
    margin-top: 10px;
    text-decoration: underline;
    color: cadetblue;
}

.port1{
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    margin: 2px;
}

.potfolio-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio{
    height: 480px;
    width: 1000px;
    background-color: aliceblue;
    margin-top: 50px;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.portfo{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    
}

.portfo img{
    height: 100%;
    width: 100%;
    transition: transform .2s; /* Animation */
}

.portfo img:hover{
    transition: .5s;
    transform: scale(1.1);
    cursor: pointer;
}

/*media quary sizes

Mobile (Smartphone) max-width: 480px.
Low Resolution Tablets and ipads max-width: 767px.
Tablets Ipads portrait mode max-width:1024px.
Desktops max-width:1280px.
Huge size (Larger screen) max-width: 1281px and greater.*/



@media screen and (min-width: 100px)and (max-width: 580px){


    .navbar {
        position: absolute;
        position: fixed;
        bottom: 0rem;
        z-index:100;
        left: -20%;
        padding: -20px;
        background-color: #fff;
        padding-right: 500px;
        justify-content: center;
        
    
         
      }

      .wrapper{
        display: inline-flex;
      }

      .nav-items ul {
        display: none;
        list-style: none;
        gap: 10px;
      }


      .icons{
        display: flex;
        gap: 60px;
        
      }
      .icons i:hover{
        cursor: pointer;
        color: rgb(255, 255, 255);
        transition: .5s;
      }

      .icons i{
         display: block;
        }
      

     

    /* .nav-menu{
        position: fixed;
        z-index:100;
        bottom: 6vh;
        left: -100%;
        padding: -20px;
        display: none;
        flex-direction: column;
        background-color: aqua;
        padding-right: 500px;
      }
     */
      .nav-menu.active{
        right: 0;
      }
    
      .hamburger{
        display: none;
        margin-left: 100px;
      }
    
      .banner{
        background-position-x: -800px;
      }
    .text{
        height: 250px;
        width: 550px;
        background-color:aliceblue ;
        text-align: center;
    }

    .photo{
        height: 150px;
        width: 150px;
        background-color:aliceblue ;
        margin-top: 55px;
        border-radius: 50%;
    }
    .photo img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
    

    .services{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        justify-content: center;
        display: flex;
    }
    
    .service-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .container3{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        flex-direction: column;
    }
    .header{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        justify-content: center;
        display: flex;
    }
    
    
    .head2{
        width: 100%;
        height: 100%;
        background-color: aliceblue;
        
    }
    .text{
        height: 250px;
        width: 100%;
        background-color:aliceblue ;
        margin-top: 50px;
    }
    .text h1{
        color: cadetblue;
        font-size: 30px;
        font-style: italic;
    }
    .head1{
        width: 100%;
        height: 100%;
        background-color: aliceblue;
    }
    .photo{
        height: 400px;
        width: 400px;
        background-color:aliceblue ;
        border-radius: 50%;
    }
    .portfolios{
        height: 100%;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
    }
    .portfolio{
        height: 100%;
        background-color: aliceblue;
        margin-top: 50px;
        display: flex;
        gap: 2px;
        flex-direction: column;
        align-items: center;
    }
    
     
     

    
}

@media screen and (min-width: 481px)and (max-width: 767px){

    .nav1{
        margin-left: 100px;
        text-align: center;
    
    }

    .nav2{
        display: none;
    }

    .services{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        justify-content: center;
        display: flex;
    }
    
    .service-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    .container3{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        flex-direction: column;
    }
    .header{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        justify-content: center;
        display: flex;
    }
    
    
    .head2{
        width: 100%;
        height: 100%;
        background-color: aliceblue;
        
    }
    .text{
        height: 250px;
        width: 100%;
        text-align: center;
        background-color:aliceblue ;
        margin-top: 50px;
    }
    .text h1{
        color: cadetblue;
        font-size: 45px;
        font-style: italic;
    }
    .head1{
        width: 100%;
        height: 100%;
        background-color: aliceblue;
    }
    .photo{
        height: 400px;
        width: 400px;
        background-color:aliceblue ;
        border-radius: 50%;
    }
    .portfolios{
        height: 100%;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
    }
    .portfolio{
        height: 100%;
        background-color: aliceblue;
        margin-top: 50px;
        display: flex;
        gap: 2px;
        align-items: center;
    }
    
     
     

    
}

@media screen and (min-width: 767px)and (max-width: 1024px){

    .services{
        background-color: aliceblue;
        justify-content: center;
        display: flex;
    }
    
    .service-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    .container3{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        flex-direction: column;
    }
    .header{
        height: 100%;
        width: 100%;
        background-color: aliceblue;
        justify-content: center;
        display: flex;
    }
    
    
    .head2{
        width: 100%;
        height: 100%;
        background-color: aliceblue;
        
    }
    .text{
        height: 250px;
        width: 100%;
        background-color:aliceblue ;
        text-align: center;
        margin-top: 50px;
    }
    .text h1{
        color: cadetblue;
        font-size: 30px;
        font-style: italic;
    }
    .head1{
        width: 100%;
        height: 100%;
        background-color: aliceblue;
    }
    .photo{
        height: 350px;
        width: 350px;
        background-color:aliceblue ;
        border-radius: 50%;
    }
    .portfolios{
        height: 100%;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
    }
    .portfolio{
        height: 100%;
        background-color: aliceblue;
        margin-top: 50px;
        display: flex;
        gap: 2px;
        align-items: center;
    }
    
     
     

    
}
    